header {
  background-color: #6baced;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  
  li a {
    text-decoration: none;
    color: white;
    margin: 0 3rem;
  }
}

.new-task{
  border: 2px solid lightgray;
  border-radius: 20px;

  input, textarea, select{
    border-radius: 10px;
    border: 1px solid lightgray;
  }

  h1, h5{
    color: #6baced;
    font-weight: bolder;
  }
}

